autopep8==1.2.4
configparser==3.5.0
cycler==0.10.0
enum34==1.1.6
flake8==3.0.4
importmagic==0.1.7
jedi==0.9.0
matplotlib==1.5.3
mccabe==0.5.2
numpy==1.11.1
pep8==1.7.0
pycodestyle==2.0.0
pyflakes==1.2.3
pyparsing==2.1.9
python-dateutil==2.5.3
pytz==2016.6.1
rope==0.10.3
scikit-learn==0.18.1
scipy==0.18.0
six==1.10.0
sklearn==0.0
yapf==0.12.1
